# Build & Gradle
build/
.gradle/
bin/
*.class

# C++ Build artifacts
*.o
*.obj
*.so
*.dylib
*.dll
*.exe

# Packages
*.zip
*.jar
*.tar.gz
!gradle/wrapper/gradle-wrapper.jar
!maven/**

# IDE & OS
.vscode/
.idea/
.DS_Store
*~
